<form action="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<br>
<label>Title:</label>
<input type="text" id="title" name="article[title]" value="<%=@article.title%>">
<br>
<label>Content:</label>
<input type="text" id="content" name="article[content]" value="<%=@article.content%>">
<br>
<input type="submit" id="submit" name="submit>"
</form>
