<form action="/articles" method="post">
<label>Title:</label>
<input type="text" id="title" name="title">
<br>
<label>Content:</label>
<input type="text" id="conent" name="content">
<br>
<input type="submit" id="submit" name="submit">
</form>